<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
    <div id="app">
      <p>
        {{ a[1].name + "<= Vueの練習コード" }}
      </p>  
    </div>
    
    <script>
    // console.assert(typeof Vue !== 'undefined');
    var items = [{name: '鉛筆', price: 300, quanity: 0},{name: 'ノート', price: 400, quanity: 0}]
    
    var vm = new Vue({
      el: '#app',
      data: {
        a: items
      }
    });
    
    // vm.$watch(function(){
    //   return this.items[0].quantity
    // }, function (quanity){
    //   console.log(quanity)
    // })
    
    
    // new Vue({
	   // template: '<p>{{msg}}</p>',
    //   data:{ msg: 'hello,world!'}
    // }).$mount('#app')
    </script>
  
  
  
    <h1>TwiTask</h1>

    <h2>
      タスクを管理し、友達と情報を共有しよう
    </h2>

    <%= link_to "アカウントを作成", new_user_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>