<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
    <div id="app">
       <p>{{ items[0].name }}: {{ items[0].price }} x {{ items[0].quantity }}</p>
       <p>小計: {{ totalPrice | numberWithDelimiter }}円</p>
       <p>合計(税込): {{ totalPriceWithTax | numberWithDelimiter }}円</p>
    </div>
    
    <script>
    var items = [{name: '鉛筆', price: 300, quantity: 0},{name: 'ノート', price: 400, quantity: 0}]
    
    var vm = new Vue({
      el: '#app',
      data: {
        items: items
      },
      filters: {
        numberWithDelimiter: function (value) {
          if (!value) {
            return '0'
          }
          return value.toString().replace(/(\d)(?=(\d{3})+$)/g, '$1,')
        }
      },
      computed: { // 算出プロパティ
        totalPrice: function () {
          return this.items.reduce(function (sum, item) {
            return sum + (item.price * item.quantity)
          }, 0)
        },
        totalPriceWithTax: function () {
          // 算出プロパティに依存した算出プロパティも定義できる
          return Math.floor(this.totalPrice * 1.08)
        }
      }
    })
    window.vm = vm
    
    </script>
  
  
  
    <h1>TwiTask</h1>

    <h2>
      タスクを管理し、友達と情報を共有しよう
    </h2>

    <%= link_to "アカウントを作成", new_user_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>